# See README.md for more information

PORT=
NODE_ENV=
HOST_URL=
LOG_LEVEL=

# Service: AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Service: JWT
JWT_SECRET=

# Service: MongoDB
MONGO_DB_SRV=

# Service: Nodemailer
SMTP_HOST=
SMTP_PORT=
SMTP_EMAIL=
SMTP_PASSWORD=

# Service: SendGrid
SENDGRID_API_KEY=

# Service: Redis
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

# Service: Firebase Admin
GOOGLE_APPLICATION_CREDENTIALS=

## Stripe: Testing Account (Change keys according to configuration in src/services/stripe/stripe.js)
STRIPE_TESTING_AC_PUBLISHABLE_KEY=
STRIPE_TESTING_AC_SECRET_KEY=
STRIPE_TESTING_AC_WEBHOOK_SECRET=

# Service: Firebase Admin (Path to service account key)
GOOGLE_APPLICATION_CREDENTIALS=